 body {
     background-color: dimgray;
 }

 h2{
     text-align: center;
 }

 div{
     text-align: center;
 }

 img{
     height: 400px;
     width: 400px;
 }

 .facebook, .twitter, .github, .linkedin {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;  
  }

  .container{
    display: flex;
    flex-direction: row;
    justify-items: center;
  }